<form action="/figures" method="post">
  <label>Name</label>
  <input type="text" id="figure_name" name="figure[name]"></br>



  <label><h4>Create New Title:</h4></label>
  <input type="text" id="new_title" name="title[name]">


  <label><h4>Titles</h4></label>
  <%Title.all.each do |title|%>
  <label><%=title.name%></label>
  <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>"></br>
  <%end%>

  <label><h4>Create New Landmark:</h4></label>
  <input type="text" id="new_landmark" name="landmark[name]">

  <label><h4>Landmarks</h4></label>
  <%Landmark.all.each do |landmark|%>
  <label><%=landmark.name%></label>
  <input type="checkbox" id="landmark_<%=landmark.id%>" value="<%=landmark.id%>" name="figure[landmark_ids][]">
  <%end%>
</br>
<input type="submit" name="submit" value="Create New Figure">
</form>
